#page-info.page
  .page-header
    %h1= t "page_info.title"

  = raw t "page_info.info"

  .checkbox{ data: { bind: "css: { 'has-error': iHL() && apply_invalid() } " } }
    %label
      = check_box_tag "apply", "1", false, data: { bind: "checked: apply" }
      = raw t "page_info.options.apply"
  .checkbox{ data: { bind: "css: { 'has-error': iHL() && accept_invalid() } " } }
    %label
      = check_box_tag "accept", "1", false, data: { bind: "checked: accept" }
      = raw t "page_info.options.accept"

  .panel.panel-default
    .panel-body
      .row
        .col-xs-6= link_to t("page_info.back_button"), :root, class: "btn btn-primary"
        .col-xs-6
          %span.next-btn.pull-right
            = link_to t("page_info.next_button"), "#", class: "btn btn-primary", data: { bind: "click: showUserTypePage, css: { disabled: infoPageInvalid }" }
