#page-project-info.page{ data: { bind: 'visible: creatingProject' } }
  .page-header
    %h1= t "page_project_info.title"

  <!-- ko if: userType() == "project_leader" -->
  = raw t "page_project_info.project_leader.info"
  - base = "page_project_info.project_leader"
  %fieldset
    = form_text_field base, :project_name,            highlight: "piHL"
    = form_text_area  base, :project_plan,            highlight: "piHL"
    = form_text_field base, :project_website,         highlight: "piHL"
    = form_select     base, :project_org_type,        highlight: "piHL"
    = form_select     base, :project_research_focus,  highlight: "piHL"
    = form_select     base, :project_funding,         highlight: "piHL"
    = form_select     base, :project_listing,         highlight: "piHL", field_options: { include_blank: false }
  <!-- /ko -->

  <!-- ko if: userType() == "sponsor" -->
  = raw t "page_project_info.sponsor.info"
  - base = "page_project_info.sponsor"
  %fieldset
    = hidden_field_tag :project_org_type, t("#{base}.project_org_type.default")
    = form_text_field base, :project_name,            highlight: "piHL"
    = form_text_area  base, :project_plan,            highlight: "piHL"
    = form_select     base, :project_research_focus,  highlight: "piHL"
    = form_select     base, :project_funding,         highlight: "piHL"
    = form_select     base, :project_listing,         highlight: "piHL", field_options: { include_blank: false }
  <!-- /ko -->


  .panel.panel-default
    .panel-body
      .row
        .col-xs-6= link_to t("page_project_info.back_button"), "#", class: "btn btn-primary", data: { bind: "click: backFromProjectInfoPage" }
        .col-xs-6
          %span.next-btn.pull-right
            = link_to t("page_project_info.next_button"), "#", class: "btn btn-primary", data: { bind: "click: submitData, css: { disabled: projectInfoPageInvalid }" }
