#page-user-type.page
  .page-header
    %h1= t "page_user_type.title"

  = raw t "page_user_type.info"

  = debug params
  .radio{ data: { bind: "css: { 'has-error': utHL() && userType_invalid() } " } }
    %label
      = radio_button_tag "user_type", "project_leader", false, data: { bind: "checked: userType" }
      = raw t "page_user_type.options.project_leader"

  .radio{ data: { bind: "css: { 'has-error': utHL() && userType_invalid() } " } }
    %label
      = radio_button_tag "user_type", "member", false, data: { bind: "checked: userType" }
      = raw t "page_user_type.options.member"

  .radio{ data: { bind: "css: { 'has-error': utHL() && userType_invalid() } " } }
    %label
      = radio_button_tag "user_type", "sponsor", false, data: { bind: "checked: userType" }
      = raw t "page_user_type.options.sponsor"

  .radio{ data: { bind: "css: { 'has-error': utHL() && userType_invalid() } " } }
    %label
      = radio_button_tag "user_type", "sponsored_student", false, data: { bind: "checked: userType" }
      = raw t "page_user_type.options.sponsored_student"

  .radio{ data: { bind: "css: { 'has-error': utHL() && userType_invalid() } " } }
    %label
      = radio_button_tag "user_type", "educator", false, data: { bind: "checked: userType" }
      = raw t "page_user_type.options.educator"

  .panel.panel-default
    .panel-body
      .row
        .col-xs-6= link_to t("page_user_type.back_button"), "#", class: "btn btn-primary", data: { bind: "click: showInfoPage" }
        .col-xs-6
          %span.next-btn.pull-right
            = link_to t("page_user_type.next_button"), "#", class: "btn btn-primary", data: { bind: "click: nextFromUserTypePage, css: { disabled: userTypePageInvalid }" }
