#page-project-info.page{ data: { bind: 'visible: creatingProject' } }
  .page-header
    %h1= t "page_project_info.title"

  - pp = params[:project] || {}
  <!-- ko if: userType() == "project_leader" -->
  = raw t "page_project_info.project_leader.info"
  - base = "page_project_info.project_leader"
  %fieldset
    = form_text_field base, "project[name]",            highlight: "piHL", value: pp[:name]
    = form_text_area  base, "project[description]",     highlight: "piHL", value: pp[:description]
    = form_text_field base, "project[website]",         highlight: "piHL", value: pp[:website]
    = form_select     base, "project[org_type]",        highlight: "piHL", value: pp[:org_type]
    = form_select     base, "project[research_focus]",  highlight: "piHL", value: pp[:research_focus]
    = form_select     base, "project[funding]",         highlight: "piHL", value: pp[:funding]
    = form_select     base, "project[listing]",         highlight: "piHL", field_options: { include_blank: false }, value: pp[:listing]
  <!-- /ko -->

  <!-- ko if: userType() == "sponsor" -->
  = raw t "page_project_info.sponsor.info"
  - base = "page_project_info.sponsor"
  %fieldset
    = hidden_field_tag :project_org_type, t("#{base}.project_org_type.default")
    = form_text_field base, "project[name]",            highlight: "piHL", value: pp[:name]
    = form_text_area  base, "project[description]",     highlight: "piHL", value: pp[:description]
    = form_select     base, "project[research_focus]",  highlight: "piHL", value: pp[:research_focus]
    = form_select     base, "project[funding]",         highlight: "piHL", value: pp[:funding]
    = form_select     base, "project[listing]",         highlight: "piHL", field_options: { include_blank: false }, value: pp[:listing]
  <!-- /ko -->


  .panel.panel-default
    .panel-body
      .row
        .col-xs-6= link_to t("page_project_info.back_button"), "#", class: "btn btn-primary", data: { bind: "click: backFromProjectInfoPage" }
        .col-xs-6
          %span.next-btn.pull-right
            = link_to t("page_project_info.next_button"), "#", class: "btn btn-primary", data: { bind: "click: submitData, css: { disabled: projectInfoPageInvalid }" }
