#page-project-info.page{ data: { bind: 'visible: creatingProject' } }
  .page-header
    %h1= t "page_project_info.title"

  <!-- ko if: userType() == "project_leader" -->
  = raw t "page_project_info.project_leader.info"
  <!-- /ko -->
  <!-- ko if: userType() == "sponsor" -->
  = raw t "page_project_info.sponsor.info"
  <!-- /ko -->

  - base = "page_project_info"
  %fieldset
    = form_text_field base, :project_name
    = form_text_area  base, :project_plan
    <!-- ko ifnot: omitProjectId -->
    = form_text_field base, :project_id
    <!-- /ko -->
    = form_text_field base, :project_website
    = form_select     base, :project_org_type
    = form_select     base, :project_research_focus
    = form_select     base, :project_funding
    = form_select     base, :project_listing, field_options: { include_blank: false }


  .panel.panel-default
    .panel-body
      .row
        .col-xs-6= link_to t("page_project_info.back_button"), "#", class: "btn btn-primary", data: { bind: "click: backFromProjectInfoPage" }
        .col-xs-6
          %span.next-btn.pull-right
            = link_to t("page_project_info.next_button"), "#", class: "btn btn-primary", data: { bind: "click: submitData, css: { disabled: projectInfoPageInvalid }" }
