#new_application
  = form_tag :applications, method: 'post', id: 'new-application', class: 'form-horizontal' do
    = render 'page_info'
    = render 'page_user_type'

    <!-- ko if: creatingNewUser -->
    = render 'page_new_user'
    <!-- /ko -->

    <!-- ko if: creatingCourse -->
    = render 'page_course_info'
    <!-- /ko -->

    <!-- ko if: creatingProject -->
    = render 'page_project_info'
    <!-- /ko -->

    <!-- ko if: joiningProject -->
    = render 'page_join_project'
    <!-- /ko -->
