.page-header
  %h1= raw t '.title'
  = raw t '.info'

= form_tag :password_reset_requests, method: 'post', class: 'form-horizontal' do
  .form-group
    = label_tag :username, t('.username'), class: 'col-sm-2 control-label'
    .col-sm-6
      = text_field_tag :username, "", class: 'form-control'

  .form-group
    .col-sm-offset-2.col-sm-6
      = submit_tag t('.submit'), class: 'btn btn-primary'
