- @submenu = :my_experiments
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  .col-sm-12
    %table.table.table-bordered
      - @profile_description.each do |pd|
        %tr
          %td.col-sm-3= label_tag "profile[#{pd.name}]", pd.description
          %td.col-sm-9
            - if pd.access == "READ_WRITE"
              = text_field_tag "profile[#{pd.name}]", @profile[pd.name].value, class: 'form-control'
            - else
              = @profile[pd.name].value

.row
  .col-sm-12
    = link_to t('.save'), experiment_path(params[:experiment_id]), class: 'btn btn-default'
    = link_to t('.cancel'), experiment_path(params[:experiment_id]), class: 'btn btn-default'
