- @experiments.each do |e|
  %table.table.table-bordered
    %tr
      %td
        = link_to e[:id]
    %tr
      %td
        <strong>Owner</strong>: #{link_to e[:owner][:name], user_path(e[:id])} (#{e[:owner][:id]})
    %tr
      %td
        <strong>Status</strong>: #{e[:status]}
    - if e[:owner][:id] == @app_session.current_user_id
      %tr
        %td
          = link_to "View", experiment_path(e[:id]), class: 'btn btn-xs btn-default'
          = link_to "Manage", manage_experiment_path(e[:id]), class: 'btn btn-xs btn-default'
