- projects = projects_table
%table.table.projects.table-striped
  - if projects.blank?
    %tr
      %td= t '.nothing'
  - else
    - projects.each do |p|
      - pid = p[:project_id]
      %tr
        %td
          #{link_to pid, project_path(pid)}
          %p
            <strong>Project Leader</strong>: #{link_to p[:leader][:name], profile_path(p[:leader][:uid])} (#{p[:leader][:uid]})<br/>
            <strong>Project Members</strong>: #{p[:members]}<br/>
            <strong>Experiments</strong>: #{p[:experiments]}<br/>
          %p
            - if p[:leader][:uid] == @app_session.current_user_id
              = link_to t(".manage"), manage_project_path(pid), class: 'btn btn-xs btn-info'
            = link_to t(".view"), project_path(pid), class: 'btn btn-xs btn-info'

