- @submenu = :projects
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th= t '.project_id'
          %th= t '.owner'
          %th= t '.actions'
      %tbody
        - if @projects.blank?
          %tr
            %td{ colspan: 3 }= t '.nothing'
        - else
          - @projects.each do |p|
            %tr
              %td= link_to p.project_id, project_path(p.project_id)
              %td= p.owner
              %td
                = link_to t(".more"), "#", data: { pid: p.project_id }, class: 'more'
                = link_to t(".less"), "#", data: { pid: p.project_id }, class: 'less hide'
            %tr{ data: { more_pid: p.project_id }, class: 'hide' }
              %td{ colspan: 3 }
                %table.table
                  %tr
                    %th.col-sm-2 Approved:
                    %td #{p.approved ? 'Yes' : 'No'}
                  %tr
                    %th Members:
                    %td #{p.members.map(&:uid).join(', ')}
                  %tr
                    %td{ colspan: 2 }
                      = link_to t(".delete"), project_path(p.project_id), method: :delete, data: { confirm: t(".confirm_delete") }, class: 'btn btn-xs btn-danger'

.row
  .col-sm-12
    = link_to t(".new_project"), :new_project, class: "btn btn-default"
    = link_to t(".join_project"), :new_project_join, class: "btn btn-default"
