- @submenu = :my_projects
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  .col-sm-12
    = render partial: 'projects_table', object: @approved

    - if @unapproved.any?
      %h3= t ".unapproved_projects"
      = render partial: 'projects_table', object: @unapproved

.row
  .col-sm-12
    = link_to t(".new_project"), :new_project, class: "btn btn-default"
    = link_to t(".join_project"), :new_project_join, class: "btn btn-default"
