- @submenu = :projects
.page-header
  %h1= raw t '.title'

= raw t '.info'

.row
  = form_tag projects_path, { class: 'form-horizontal' } do
    - @profile_descr.each do |pf|
      - name = "project[#{pf.name}]"
      - disabled = %w{ READ_ONLY NO_ACCESS }.include?(pf.access)
      - required = !pf.optional
      .form-group
        = label_tag name, pf.description, class: 'control-label col-sm-2'
        .col-sm-4
          - if pf.data_type == 'string'
            = text_field_tag name, pf.value, disabled: disabled, required: required, class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-4
        = submit_tag t(".submit"), class: "btn btn-default"
