- @submenu = :my_projects
.page-header
  %h1= raw t '.title', id: @project.project_id
  = raw t '.info', owner: @project.owner

.row
  .col-sm-12

    .row.section-row
      .col-sm-11
        %h4= t '.project_profile'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#profile-section' }, "aria-expanded" => false, "aria-controls" => "profile-section" } Show

    .row#profile-section.section.collapse
      .col-sm-12
        %table.table.table-bordered
          - @profile.each do |f|
            - k = f.name
            - next unless Project::PROFILE_FIELDS.include?(k)
            - v = f.value
            %tr
              %td= t "page_project_info.project_leader.project_#{k}.label"
              %td= v

    .row.section-row
      .col-sm-11
        %h4= t '.project_team'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#team-section' }, "aria-expanded" => false, "aria-controls" => "team-section" } Hide

    .row.section#team-section.collapse.in
      .col-sm-12.body
        %span.spinner Loading. Please wait&hellip;

    .row.section-row
      .col-sm-11
        %h4= t '.experiments'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#experiments-section' }, "aria-expanded" => false, "aria-controls" => "experiments-section" } Hide

    .row.section#experiments-section.collapse.in
      .col-sm-12.body
        %span.spinner Loading. Please wait&hellip;

    .row.section-row
      .col-sm-11
        %h4= t '.recent_activity'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#activity-section' }, "aria-expanded" => false, "aria-controls" => "activity-section" } Show

    .row.section#activity-section.collapse
      .col-sm-12
        - log = ActivityLog.for_project(@project.project_id)
        = render partial: 'shared/activity_log', object: log
