- @submenu       = :my_projects
- collapse_class = @managing ? 'in' : 'collapse'
- toggle_label   = @managing ? 'Hide' : 'Show'
- action_class   = @managing ? 'btn-success' : 'btn-default'
.page-header
  %h1= raw t '.title', id: @project.project_id
  = raw t '.info', owner: @project.owner

.row
  .col-sm-12

    = section_row t('.project_profile'), 'profile-section', @managing ? :opened : :closed
    .row#profile-section.section{ class: collapse_class }
      .col-sm-12
        - if @project.can_modify?(current_user_id)
          %p.text-right= link_to t('.edit'), "#TBD", class: "btn btn-xs #{action_class}"
        %table.table.table-bordered
          - @profile.each do |f|
            - k = f.name
            - next unless Project::PROFILE_FIELDS.include?(k)
            - v = f.value
            %tr
              %td= t "page_project_info.project_leader.project_#{k}.label"
              %td= v

    = section_row t('.project_team'), 'team-section', @managing ? :opened : :closed
    .row.section#team-section{ class: collapse_class }
      .col-sm-12
        - if @project.can_modify_access?(current_user_id)
          %p.text-right= link_to t('.edit'), "#TBD", class: "btn btn-xs #{action_class}"
      .col-sm-12.body
        %span.spinner Loading. Please wait&hellip;

    = section_row t('.experiments'), 'experiments-section', @managing ? :opened : :closed
    .row.section#experiments-section{ class: collapse_class }
      .col-sm-12.body
        %span.spinner Loading. Please wait&hellip;

    = section_row t('.recent_activity'), 'activity-section', @managing ? :opened : :closed
    .row.section#activity-section{ class: collapse_class }
      .col-sm-12
        - log = ActivityLog.for_project(@project.project_id)
        = render partial: 'shared/activity_log', object: log
