%table.table.table-striped
  %tbody
    - if @experiments.blank?
      %tr
        %td= t '.nothing'
    - else
      - @experiments.each do |e|

        - eid = e[:id]
        %tr
          %td
            #{link_to eid, experiment_path(eid)}
            %p
              <strong>Owner</strong>: #{link_to e[:owner][:name], profile_path(e[:owner][:uid])} (#{e[:owner][:uid]})<br/>
              <strong>Description</strong>: #{e[:description]}<br/>
              <strong>Status</strong>: TBD<br/>
            %p
              - if e[:owner][:uid] == current_user_id
                = link_to t(".manage"), manage_experiment_path(eid), class: 'btn btn-xs btn-info'
              = link_to t(".view"), experiment_path(eid), class: 'btn btn-xs btn-info'
