%table.table.table-striped
  %thead
    %tr
      %th= t '.name'
  %tbody
    - if @experiments.blank?
      %tr
        %td= t '.nothing'
    - else
      - @experiments.each do |e|

        - eid = e[:id]
        %tr
          %td
            #{link_to eid, experiment_path(eid)}
            %p
              <strong>Owner</strong>: #{e[:owner][:name]} (#{e[:owner][:uid]})<br/>
              <strong>Description</strong>: #{e[:description]}<br/>
              <strong>Status</strong>: TBD<br/>
            %p
              - if e[:owner][:uid] == @app_session.current_user_id
                = link_to t(".manage"), manage_experiment_path(eid), class: 'btn btn-xs btn-info'
              = link_to t(".view"), experiment_path(eid), class: 'btn btn-xs btn-info'

              -# = link_to t(".delete"), experiment_path(e.id), method: :delete, data: { confirm: t(".confirm_delete") }, class: 'btn btn-xs btn-danger'
