- @submenu = :experiments
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %th= t '.name'
          %th= t '.owner'
          %th= t '.actions'
      %tbody
        - if @experiments.blank?
          %tr
            %td{ colspan: 2 }= t '.nothing'
        - else
          - @experiments.each do |e|
            %tr
              %td= link_to e.id, experiment_path(e.id)
              %td= e.owner
              %td= link_to t(".delete"), experiment_path(e.id), method: :delete, data: { confirm: t(".confirm_delete") }

.row
  .col-sm-12
    = link_to t(".new_experiment"), :new_experiment, class: "btn btn-default"
