- @submenu = :new_experiment
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  = form_tag experiments_path, { class: 'form-horizontal' } do
    = render partial: 'new_experiment_fields'

    .form-group
      .col-sm-offset-2.col-sm-4
        = submit_tag t(".submit"), class: "btn btn-default"
