- @submenu = :new_experiment
.page-header
  %h1= raw t '.title'
  = raw t '.info'

.row
  = form_tag experiments_path, { class: 'form-horizontal' } do
    .form-group
      = label_tag "project_id", t(".project"), class: 'control-label col-sm-2'
      .col-sm-4
        = select_tag "project_id", options_for_select(@projects.map(&:project_id), params[:project_id]), class: 'form-control'

    .form-group
      = label_tag "experiment[name]", t(".name"), class: 'control-label col-sm-2'
      .col-sm-4
        = text_field_tag "experiment[name]", params[:project].try(:[], :name), class: 'form-control'

    - @profile_descr.each do |pf|
      - name = "experiment[#{pf.name}]"
      - disabled = %w{ READ_ONLY NO_ACCESS }.include?(pf.access)
      - required = !pf.optional
      .form-group
        = label_tag name, pf.description, class: 'control-label col-sm-2'
        .col-sm-4
          - if pf.data_type == 'string'
            = text_field_tag name, pf.value, disabled: disabled, required: required, class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-4
        = submit_tag t(".submit"), class: "btn btn-default"
