- user_name = "#{current_user_id} (#{current_user_name})"
- @submenu = :my_experiments
.page-header
  %h1= raw t '.title', id: @experiment.id
  = raw t '.info', owner: @experiment.owner

.row.section-row
  .col-sm-12
    %h4= t '.status'

.row
  .col-sm-12
    %p#status
      = t '.started', time: Time.now.strftime("%B %d, %Y %l:%M%P"), user: user_name

.row.section-row
  .col-sm-12
    %h4= t '.visualization'

.row
  .col-sm-12
    - if @visualizations.blank?
      %p= t '.no_visualizations'
    - else
      - @visualizations.each do |v|
        .visualization
          %h5= v.name
          %iframe{ src: v.data, class: 'vis col-sm-12' }

