- uid = @app_session.current_user_id
- pid = @experiment.id.split(':').first
- is_owner = @experiment.owner == uid
- belongs_to_project = @experiment.belongs_to_project?
- @submenu = :my_experiments
.page-header
  %h1= raw t '.title', id: @experiment.id
  = raw t '.info', owner: @experiment.owner


.row
  .col-sm-12

    .row.section-row
      .col-sm-11
        %h4= t '.experiment_profile'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#profile-section' }, "aria-expanded" => false, "aria-controls" => "profile-section" } Show

    .row#profile-section.section.collapse
      .col-sm-12
        - if is_owner
          %p= link_to t('.edit'), edit_experiment_profile_path(@experiment.id), class: 'btn btn-xs btn-default'
        %table.table.table-bordered
          - @profile.each do |f|
            - k = f.name
            - next unless Project::PROFILE_FIELDS.include?(k)
            - v = f.value
            %tr
              %td.col-sm-4= k.capitalize
              %td.col-sm-8= v

    .row.section-row
      .col-sm-11
        %h4= t '.access_control'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#acl-section' }, "aria-expanded" => false, "aria-controls" => "acl-section" } Show

    - acl = ExperimentAclPresenter.new(@experiment.acl, @experiment.owner, pid)
    .row#acl-section.section.collapse
      .col-sm-12
        - if is_owner
          %p= link_to t('.edit'), experiment_members_path(@experiment.id), class: 'btn btn-xs btn-default'
        %table.table.table-bordered
          - unless acl.owner_perms.blank?
            %tr
              %td.col-sm-4 User:&nbsp;#{deter_lab.get_profile(@experiment.owner)['name']}
              %td.col-sm-8= acl.owner_perms.join(", ")
          - acl.other_users_acl.each do |acl|
            %tr
              %td.col-sm-4 User:&nbsp;#{deter_lab.get_profile(acl[0])['name']}
              %td.col-sm-8= acl[1].join(", ")


        %table.table.table-bordered
          - unless acl.project_perms.blank?
            %tr
              %td.col-sm-4 Group:&nbsp;#{pid}
              %td.col-sm-8= acl.project_perms.join(", ")
          - acl.groups_acl.each do |acl|
            %tr
              %td.col-sm-4 Group:&nbsp;#{acl.circle_id}
              %td.col-sm-8= acl.permissions.join(", ")

    .row.section-row
      .col-sm-11
        %h4= t '.recent_activity'
      .col-sm-1.text-right
        %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#activity-section' }, "aria-expanded" => false, "aria-controls" => "activity-section" } Show

    .row.section#activity-section.collapse
      .col-sm-12
        - log = ActivityLog.for_experiment(@experiment.id)
        = render partial: 'shared/activity_log', object: log

    .row.section-row
      .col-sm-10
        %h4= t ".realizations"
      .col-sm-2.text-right
        - if belongs_to_project
          = link_to t(".realize"), realize_experiment_path(@experiment.id), class: 'btn btn-xs btn-default'
        - else
          %button.btn.btn-xs.btn-default{ type: 'button', data: { toggle: 'collapse', target: '#realization-section' }, "aria-expanded" => false, "aria-controls" => "realization-section" } Show

    .row.section#realization-section{ class: belongs_to_project ? nil : 'collapse' }
      .col-sm-12
        - if belongs_to_project
          - if @realizations.blank?
            %p= t ".no_realizations"
        - else
          %p= raw t ".library.realization_unavailable"
          = form_tag clone_experiment_path(@experiment.id), { class: 'form-horizontal' } do
            = render partial: 'new_experiment_fields'
            .form-group
              .col-sm-offset-2.col-sm-4
                = submit_tag t(".submit"), class: "btn btn-default"

    .row.section-row
      .col-sm-12
        %h4= t ".aspects"

    .row
      .col-sm-12
        - groupped_aspects = @experiment.aspects.group_by(&:type)
        - %w{ layout orchestration visualization }.each do |type|
          - aspects = groupped_aspects[type]
          .row.section-subheader
            .col-sm-10
              %h5= type.capitalize
            .col-sm-2.text-right.action
              = link_to t(".add_aspect", type: type.capitalize), new_experiment_aspect_path(@experiment.id, type: type), class: 'btn btn-xs btn-default'
          .row
            .col-sm-12
              - if aspects.blank?
                %p 0 #{type.capitalize}
              - else
                %table.table.table-striped
                  - aspects.each_with_index do |a, i|
                    - next unless a.root?
                    - aid = "#{type}-#{i}"
                    %tr
                      %td
                        .row
                          .col-sm-8
                            = link_to a.name, '#', data: { id: aid }, class: 'more-less'
                          .col-sm-4.text-right
                            = link_to t(".view"), "#", data: { id: aid }, class: 'btn btn-xs btn-info more'
                            = link_to t(".hide"), "#", data: { id: aid }, class: 'btn btn-xs btn-info less hide'
                            = link_to t(".modify"), edit_experiment_aspect_path(@experiment.id, a.name, type: a.type), class: 'btn btn-xs btn-default'
                            - if is_owner && a.sub_type.blank?
                              = link_to t(".delete"), experiment_aspect_path(@experiment.id, a.name, type: a.type), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure?" }
                        .row.hide{ data: { more_id: aid } }
                          .col-sm-12
                            %pre.view= aspect_data(a)

