.page-header
  %h1= raw t '.title'

= raw t '.info'

.row
  .col-sm-6
    %table.table.table-striped
      - ProfileFields::DISPLAY_FIELDS.each do |f|
        %tr
          %th= t "profile.fields.#{f}"
          %td= @profile[f]

.row
  .col-sm-12
    = link_to "Edit Profile", :edit_profile, class: 'btn btn-default'
    = link_to "Change Password", :change_password, class: 'btn btn-default'
