- @submenu = :profile
- is_owner = @uid == @app_session.current_user_id
.page-header
  %h1= raw t(is_owner ? '.title' : '.title_other')
  = raw t(is_owner ? '.info' : '.info_other', uid: @uid)

.row
  .col-sm-6
    %table.table.table-striped
      - ProfileFields::DISPLAY_FIELDS.each do |f|
        %tr
          %th= t "profile.fields.#{f}"
          %td= @profile[f]

- if is_owner
  .row
    .col-sm-12
      = link_to "Edit Profile", :edit_profile, class: 'btn btn-default'
      = link_to "Change Password", :change_password, class: 'btn btn-default'
