.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to (logged_in? ? :dashboard : :root), class: 'navbar-brand' do
        = image_tag "logo.png"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to "Logout", :logout
        - else
          %li= link_to "Login", :login
        %li= link_to "DETER Project", AppConfig['deter_project_link']
        %li= link_to "Contact", AppConfig['contact_link']

- if logged_in?
  .submenu.navbar-fixed-top
    .container
      .navbar.navbar-inverse{ role: 'navigation' }
        %ul.nav.navbar-nav
          = submenu_item :profile, "Profile", my_profile_path
          = dropdown_submenu_item [ :my_projects, :new_project, :join_project, :manage_project ], t("submenu.projects") do
            = submenu_item :my_projects, t("submenu.my_projects"), projects_path
            = submenu_item :new_project, t("submenu.new_project"), new_project_path
            = submenu_item :join_project, t("submenu.join_project"), new_project_join_path
            %li.dropdown-submenu{ class: @submenu == :manage_project ? 'active' : nil }
              = link_to t("submenu.manage_projects"), "#", tabindex: -1
              %ul.dropdown-menu
                - projects = deter_lab.get_managed_projects.reject(&:admin?)
                - if projects.blank?
                  %li= link_to t("submenu.no_managed_projects"), "#"
                - else
                  - projects.each do |p|
                    %li{ class: p.project_id == params[:id] ? 'active' : nil }
                      = link_to t("submenu.manage_project", id: p.project_id), manage_project_path(p.project_id)

          <li><a href="#">Libraries</a></li>
          = dropdown_submenu_item [ :my_experiments, :new_experiment ], t("submenu.experiments") do
            = submenu_item :my_experiments, t("submenu.my_experiments"), experiments_path
            = submenu_item :new_experiment, t("submenu.new_experiment"), new_experiment_path
          <li><a href="#">Notifications</a></li>
          - if admin?
            = dropdown_submenu_item [ :project_requests, :user_admin, :project_admin, :privilege_admin ], t("submenu.administration") do
              = submenu_item :project_requets, t("submenu.project_requests"), "#TBD"
              = submenu_item :user_admin, t("submenu.user_admin"), "#TBD"
              = submenu_item :project_admin, t("submenu.project_admin"), "#TBD"
              = submenu_item :privilege_admin, t("submenu.privilege_admin"), "#TBD"
