.navbar.navbar-inverse.navbar-fixed-top{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '.navbar-collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to :root, class: 'navbar-brand' do
        = image_tag "logo.png"

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to "Log out", :logout
        - else
          %li= link_to "Log in", :login
        %li= link_to "DETER Project", "http://deter-project.org/"
        %li= link_to "Contact", "http://info.deterlab.net/contact_deterlab"

- if logged_in?
  .submenu
    .container
      %ul
        = submenu_item :profile, "Profile", profile_path
        = submenu_item :projects, "Projects", projects_path
        <li><a href="#">Libraries</a></li>
        = submenu_item :experiments, "Experiments", experiments_path
        <li><a href="#">Notifications</a></li>
