- if app_session.logged_in?
  .box
    %h4= t '.logged_in'
    %ul
      %li= raw t '.logged_in_as', name: current_user_name, dash_link: link_to("Dashboard", :dashboard)
      %li= link_to "Logout", :logout

.box
  %h4 Documentation
  %ul
    %li= link_to "Documentation for DeterLab Experimenters", "http://info.deterlab.net/documentation"
    %li= link_to "Documentation for DeterLab Educators and Students", "http://www.deter-project.org/deterlab-cyber-security-education"

.box
  %h4 Technical Support
  %ul
    %li= link_to t(".tech_support.about.label").html_safe, t(".tech_support.about.link")
    - if logged_in?
      %li= link_to t(".tech_support.before_ticket.label").html_safe, t(".tech_support.before_ticket.link")
      %li= link_to t(".tech_support.open_ticket.label").html_safe, t(".tech_support.open_ticket.link")

.box
  %h4 Important Information
  %ul
    %li= link_to "Current Usage Statistics", :usage
    %li= link_to "Recent Announcements from DeterLab Operations", :news

- if logged_in?
  .box
    %h4 Scheduled Downtime
    %p
      %em
        Wednesdays: 5PM-7PM,<br/>
        Saturdays: 10AM-1PM Pacific Time
