.box
  Not logged in.

.box
  %h4 Documentation
  %ul
    %li= link_to "Documentation for DeterLab Experimenters", "http://info.deterlab.net/documentation"
    %li= link_to "Documentation for DeterLab Educators and Students", "http://www.deter-project.org/deterlab-cyber-security-education"

.box
  = link_to "Technical Support", "http://info.deterlab.net/support"

.box
  %h4 Important Information
  %ul
    %li= link_to "Current Usage Statistics", :usage
    %li= link_to "Recent Announcements from DeterLab Operations", :news

  %p Scheduled Downtime:
  %p
    %em Wednesdays: 5PM-7PM, Saturdays: 10AM-1PM Pacific Time.
