!!!
%html
  %head
    %title DETERLAB Beginner Interface
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    = render "layouts/header"
    = render "layouts/messages"
    .container
      .row
        .col-sm-9= yield
        .col-sm-3#sidebar= render "layouts/sidebar"

    = render "layouts/footer"

    = include_gon
    = javascript_include_tag 'application'
